@model IEnumerable<ScoresMaster.Models.Club>


<h2>MyProfile</h2>
<style>
    .split {
        height: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        padding-top: 20px;
    }

    /* Control the left side */
    .left {
        left: 0;
        background-color: white;
        margin-top: 50px;
        width: 25%;
    }

    /* Control the right side */
    .right {
        right: 0;
        background-color: white;
        margin-top: 50px;
        width: 75%
    }

    /* If you want the content centered horizontally and vertically */
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

        /* Style the image inside the centered container, if needed */
        .centered img {
            width: 150px;
            border-radius: 50%;
        }
    #UpdateButton {
        margin-top: auto;
    }
</style>
<body>
    <div class="split left">
        <div class="centered">
            @if (ViewBag.FavoriteClub.Name == null)
            {
                <img src="~/Images/NoProfilePicture.png" alt="Avatar">
            }
            else
            {
                <img src="~/Images/Badges/@ViewData["Logo"]" alt="Avatar">
            }
            <h2>@ViewBag.first_Name  @ViewBag.last_name</h2>
            <p>
                @ViewBag.email <br />
                @ViewBag.birth_day
            </p>
        </div>
    </div>

    <div class="split right">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ClubID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.League)
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClubID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.League.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Update Favorite Club", "UpdateClub", "Profile", item, new { /* id=item.PrimaryKey */ }) |
                        </td>
                    </tr>
                }

            </table>
        </div>
 </body>

