@model ScoresMaster.Models.League


<h2>MyProfile</h2>
<style>
    .split {
        height: 100%;
        width: 50%;
        position: fixed;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        padding-top: 20px;
    }

    /* Control the left side */
    .left {
        left: 0;
        background-color: white;
        margin-top: 50px
    }

    /* Control the right side */
    .right {
        right: 0;
        background-color: white;
        margin-top: 50px
    }

    /* If you want the content centered horizontally and vertically */
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

        /* Style the image inside the centered container, if needed */
        .centered img {
            width: 150px;
            border-radius: 50%;
        }

    body {
        background-image: url("~/Images/Badges/Manchester United.png");
        background-color: #cccccc;
        background-size: 300px 100px;
    }
    #UpdateButton{
        margin-top: auto; 
    }
</style>
<body>
    <div class="split left">
        <div class="centered">
            <h2>@ViewBag.first_Name  @ViewBag.last_name</h2>
            <p>
                @ViewBag.email <br />
                @ViewBag.birth_day
            </p>
        </div>
    </div>

    <div class="split right">
        <div class="centered">
            <img src="~/Images/Badges/@ViewData["Logo"]" alt="Avatar">
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Name, new SelectList(ViewBag.Clubs))
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a href="@Url.Action("UpdateClub", "Profile")" class="btn btn-primary">Update Favorite Club</a>
                </div>
            </div>
        </div>
    </div>
</body>

