<h2>Match Details</h2>

<style>
    .avatar {
        vertical-align: middle;
        width: 75px;
        height: 75px;
        border-radius: 50%;
    }
    .logo {
        width: 50px;
        height: 50px;
        /*border-radius: 50%;*/
    }

    .container {
        padding: 2px 16px;
        border-radius: 5px;
    }

    #wrapper {
        display: flex;
        border: 1px solid black;
        background-color: #5C90CD;
    }

    #home {
        border: 50px transparent;
        margin-left: 100px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    #away {
        border: 50px transparent;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    #time {
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
</style>

<head>
    <title> API</title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    @*<script src="~/Scripts/PremierLeagueMatch.js"></script>*@
</head>
@for (int i = 0; i <= 9; i++)
{
<body>
    <p class="id"></p>
    <div class="container" id="wrapper">
        <img src="~/Images/PremierLeague.png" alt="Avatar" class="avatar">
        <div id="home" class="home">
            <img src="@ViewBag.Matches[i].home_team.logo"  class="logo">
            <p>@ViewBag.Matches[i].home_team.name</p>
        </div>
        <div id="time" class="time">
            <p>@ViewBag.Matches[i].match_start</p>
        </div>
        <div id="away" class="away">
            <img src="@ViewBag.Matches[i].away_team.logo"  class="logo">
            <p>@ViewBag.Matches[i].away_team.name</p>
        </div>
    </div>
</body>
}
